*
*:after
*:before
    box-sizing: border-box;

html
body
    height 100%
    flexo 14
    background $chumbo

::selection
    background $azul
    color #fff

::-moz-selection
    background $azul
    color #fff

.center
    width desktop-base-width
    position relative
    margin 0 auto
    +below($tablet)
        width 90%
