// Responsive
desktop-base-width     = 965px
rupture.desktop-cutoff = $tablet = 1065px
rupture.mobile-cutoff  = $mobile = 768px

// Images path
$img($image)
    url('../img/layout/' + $image)

// Colors
$chumbo = #282828
$azul   = #3374B9

// Fonts
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/durotype_-_flexo-regular-webfont.woff2') format('woff2'),
         url('../fonts/durotype_-_flexo-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/durotype_-_flexo-it-webfont.woff2') format('woff2'),
         url('../fonts/durotype_-_flexo-it-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/durotype_-_flexo-bold-webfont.woff2') format('woff2'),
         url('../fonts/durotype_-_flexo-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/durotype_-_flexo-boldit-webfont.woff2') format('woff2'),
         url('../fonts/durotype_-_flexo-boldit-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}
/*
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/durotype_-_flexo-light-webfont.woff2') format('woff2'),
         url('../fonts/durotype_-_flexo-light-webfont.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Flexo';
    src: url('../fonts/durotype_-_flexo-lightit-webfont.woff2') format('woff2'),
         url('../fonts/durotype_-_flexo-lightit-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}
*/
flexo($size, $weight = normal, $style = normal)
    font-size $size + 0px
    font-family 'Flexo', 'Verdana', 'Geneva', 'Arial', sans-serif
    font-weight $weight
    font-style $style
