.background
    position fixed
    width 100%
    height 100%
    top 0
    left 0
    background-size cover
    background-position center
    z-index 1
    +below($tablet)
        display none

header
    position fixed
    width 100%
    height 100px
    z-index 3
    top 0
    left 0
    background rgba(#fff, .7)
    border-bottom 5px solid black
    +below($tablet)
        position relative
        background #fff
    .center
        clearfix()
        height 100%
    .header-logo
        display block
        float left
        height 100%
        width 135px
        background $img('logo.png') no-repeat center
        text-indent -9999px
        +mobile()
            width 110px
            background-size 100% auto
    .btn-login
        display block
        float right
        background $azul
        padding 8px 20px
        color #fff
        text-decoration none
        margin-top 30px
        transition all .3s
        &:hover
            background #fff
            color $azul
        +below($tablet)
            padding 8px 12px
            margin-top 32px
            border 1px solid $azul
    #mobile-toggle
        +above($tablet+1)
            display none
        display block
        background-color transparent
        border 0
        top 0
        float right
        height 100%
        width 30px
        outline 0
        padding 0
        margin-left 5%
        .lines
            display block
            width 100%
            height 4px
            background $azul
            position relative
            transition .3s ease
            &:before
            &:after
                content ""
                display block
                position absolute
                left 0
                width 100%
                height 4px
                background $azul
                transition .3s ease
            &:before
                top 8px
            &:after
                top -8px
        &.close
            .lines
                background transparent
                &:before
                &:after
                    transform-origin 50% 50%
                    top 0
                &:before
                    transform rotate3d(0,0,1,45deg)
                &:after
                    transform rotate3d(0,0,1,-45deg)

nav
    position fixed
    top 135px
    left 0
    z-index 3
    a
        display block
        background rgba(#000, .6)
        color #fff
        padding 10px
        margin-bottom 3px
        flexo 14
        text-decoration none
        transition background .3s
        &.active
        &:hover
            background rgba($azul, .6)
    +above($tablet+1)
        display block !important
    +below($tablet)
        display none
        position absolute
        z-index 4
        top 100px
        width 100%
        background $azul
        text-align center
        padding 10px 0
        text-transform uppercase
        a
            background none
            padding 6px
            &.active
                color #000

.wrapper
    padding 135px 0 110px
    position relative
    z-index 2
    +below($tablet)
        padding 5% 0
    .main
        background rgba(#000, .7)
        padding 3.25%
        margin-left 125px
        +below($tablet)
            margin 0
            background none
            padding 0
            margin 0
        &.not-found
            text-align center
            padding 10vh 0
            h2
                display inline-block
                padding 15px
                border 2px solid $azul
                flexo 13 bold
                text-transform uppercase
                color #fff
                margin 0

footer
    position fixed
    width 100%
    height 74px
    bottom 0
    left 0
    background rgba(#fff, .7)
    border-top 5px solid black
    z-index 3
    +below($tablet)
        position relative
        background #fff
    .center
        clearfix()
        height 100%
    p
        float left
        flexo 10
        line-height 74px
        color #000
        margin 0
    img
        margin-top 8px
        margin-left 40px
    .left
        float left
        height 100%
    .right
        float right
        height 100%
        .politicas
            display block
            float left
            margin 0
            line-height 74px
            flexo 13
            color #000
            text-transform uppercase
            text-decoration none
            &:hover
                font-weight bold
        .social
            float left
            height 100%
            margin-left 20px
            a
                display block
                width 25px
                height 100%
                float left
                margin-left 5px
                text-indent -9999px
                transition background .3s
                &.facebook
                    background $img('icone-facebook.png') no-repeat center
                    &:hover
                        background-image $img('icone-facebook-on.png')
                &.twitter
                    background $img('icone-twitter.png') no-repeat center 52%
                    &:hover
                        background-image $img('icone-twitter-on.png')
    +tablet()
        height auto
        padding 20px 0
        .left
            width 60%
            p
                width 100%
                display block
                line-height 1
            img
                margin 3% 0 0
        .right
            width 35%
            .politicas
                width 100%
                text-align right
                line-height 1.1
            .social
                margin 3% 0 0
                float right
    +mobile()
        height auto
        padding 20px 0
        text-align center
        .left
            float none
            width 100%
            p
                float none
                width 100%
                text-align center
                margin-bottom 3%
                line-height 1
            img
                margin 0 auto 3%
        .right
            float none
            width 100%
            text-align center
            .politicas
                line-height 1.1
                margin 0 0 3%
                flexo 12
                display block
                float none
            .social
                margin 0
                float none
                display block
                a
                    display inline-block
                    float none
                    height 20px
                    margin-left 0px

.embed-video
    width 100%
    max-width 100%
    position relative
    padding-bottom 56.25%
    overflow hidden
    height 0
    iframe
        position absolute
        top 0
        left 0
        width 100%
        height 100%
