.carta-ativa-wm
    h1
        color #fff
        flexo 23
        margin -5px 0 1em
        +below($tablet)
            margin-top 0
    > a
        display table
        width 100%
        background $azul
        text-decoration none
        color #fff
        margin-bottom 5px
        transition background .3s, color .3s
        &:hover
            background #fff
            color $azul
            .data
                border-color rgba($azul, .5)
        .data
        .titulo
            display table-cell
            vertical-align middle
        .data
            width 150px
            border-right 1px solid rgba(#fff, .5)
            transition border .3s
            flexo 12
            padding 14px 14px 14px 45px
            background $img('icone-pdf.png') no-repeat 14px center
        +mobile()
            .data
            .titulo
                display block
                width 100%
            .data
                border none
                border-bottom 1px solid rgba(#fff, .5)
        .titulo
            padding 14px
            flexo 14 bold
    .pagination
        width 100%
        padding 0
        margin 5% 0 0
        list-style-type none
        text-align center
        li
            display inline-block
            color #fff
            flexo 12
            border 1px solid $azul
            margin 0 2px
            a
                display block
                color #fff
                text-decoration none
                transition background .3s
                padding 3px 8px
                &:hover
                    background lighten($azul, 10)
            span
                display block
                padding 3px 8px
                background $azul
            &:first-child
            &:last-child
                display none
