.contato
    color #fff
    h1
        color #fff
        flexo 23
        margin -5px 0 1em
        +below($tablet)
            margin-top 0
    .row
        clearfix()
        &.first
            margin-bottom 5%
            +mobile()
                margin 0
        .contato-col
            width 25%
            float left
            padding-right 2%
            h3
                margin 0 0 .8em
                flexo 12 bold
            p
                flexo 12
                margin 0 0 .8em
                &:last-child
                    margin-bottom 0
                line-height 1.5
                .divider
                    display block
                a
                    color #fff
                    text-decoration none
                    transition color .3s
                    &:hover
                        color $azul
            +mobile()
                width 100%
                margin-top 10%
                p
                    display inline-block
                    &.cep
                        display block
                        line-height 2
                    .divider
                        display inline-block
                        &:after
                            content "|"
        form
            width 50%
            float right
            margin-right 25%
            margin-bottom 3.5%
            text-align center
            +tablet()
                width 75%
                margin-right 0
            +mobile()
                width 100%
                margin 0
            ::-webkit-input-placeholder
               color #000
            :-moz-placeholder
               color #000
            ::-moz-placeholder
               color #000
            :-ms-input-placeholder
               color #000
            input
            textarea
                width 100%
                display block
                background #fff
                color #000
                border 0
                outline 0
                margin-bottom 3px
                resize none
                flexo 12
                padding 3px 8px
                &[type='submit']
                    width auto
                    display inline-block
                    padding 3px 20px
                    color #fff
                    background $azul
                    text-transform uppercase
                    font-weight bold
                    transition background .3s, color .3s
                    &:hover
                        color $azul
                        background #fff
            textarea
                height 115px
            #form-contato-response
                display none
                background $azul
                margin-bottom 6px
                color #fff
                flexo 11 bold
                padding 7px 0 10px
                text-align center
