.filosofia-index
    clearfix()
    position relative
    .texto
        h2
            flexo 23
            margin -5px 0 0
            +below($tablet)
                margin-top 0
        width 42%
        float left
        color #fff
        flexo 15
        line-height 1.5
        +mobile()
            width 100%
            margin-bottom 3%
        p:first-child
            margin-top 0
        .texto-secundario
            flexo 13
            border-top 1px solid #fff
            padding-top 1.5em
            margin-top 1.5em
    .infografico
        width 44%
        float right
        margin-right 5%
        +mobile()
            width 100%
            margin 0
        img
            max-width 100%
            height auto
            display block
            margin 0 auto

.btn-next
.btn-prev
    position absolute
    display block
    width 18px
    height 100%
    top 0
    right 2.5%
    background $img('seta-filosofia.png') no-repeat center
    text-indent -9999px
    +tablet()
        right 0
    +mobile()
        position relative
        float left
        width 100%
        clear both
        right auto
        height 20px
        margin-top 5%

.btn-prev
    left 2.5%
    background-image $img('seta-filosofia-esq.png')
    +tablet()
        left 0
    +mobile()
        margin-top 0

.filosofia-passo
    clearfix()
    position relative
    .infografico
        width 44%
        margin-right 5%
        float right
        display block
        +mobile()
            width 100%
            margin 0
        img
            max-width 100%
            height auto
            display block
            margin 0 auto
    .texto
        h2
            flexo 23
            margin -5px 0 0
            +below($tablet)
                margin-top 0
        width 42%
        margin-left 4%
        float left
        color #fff
        flexo 14
        line-height 1.5
        +tablet()
            margin-left 5%
        +mobile()
            width 100%
            margin 3% 0
        .passo
            text-align center
            display block
            flexo 48
            margin 0
            line-height 1
            +mobile()
                flexo 36
        h1
            margin 15px 0
            padding 0
            line-height 1.4
            border-top 1px solid #fff
            border-bottom 1px solid #fff
            padding 10px 0
            text-transform uppercase
            font-weight normal
            flexo 14
            p
                margin 0
                text-align center
