.home
    background none !important
    padding 0 !important
    .banners
        width 100%
        height 350px
        background $azul
        position relative
        .slide
            position absolute
            width 100%
            height 100%
            top 0
            left 0
            clearfix()
            img
                float left
                display block
            .chamada
                float left
                width calc('100% - 560px')
                background $azul
                max-height 300px
                overflow hidden
                padding 20px 20px 40px
                color #fff
                h2
                    margin 0 0 1em
                    flexo 22
                p
                    margin 0
                    flexo 14 normal italic
                    position relative
                    display block
                    &:after
                        content ''
                        position absolute
                        width 7px
                        height 12px
                        left 0
                        bottom -25px
                        background $img('seta-artigo.png') no-repeat center
        .cycle-pager
            position absolute
            right 20px
            bottom 20px
            z-index 101
            width calc('100% - 600px')
            a
                display block
                text-indent -9999px
                width 16.6667%
                height 6px
                background red
                float left
                background #fff
                border-right 2px solid $azul
                opacity .6
                transition opacity .3s
                &.cycle-pager-active
                    opacity 1
        +below(935px)
            height auto
            .slide
                img
                    display block
                    width 100%
                    float none
                .chamada
                    width 50%
                    height 100%
                    max-height none
                    overflow hidden
                    position absolute
                    background rgba($azul, .8)
                    right 0
                    top 0
            .cycle-pager
                width calc('50% - 40px')
        +below(640px)
            .slide
                height auto
                .chamada
                    width 100%
                    height auto
                    display block
                    position relative
            .cycle-pager
                display none
