.imprensa-index
    h2
        color #fff
        flexo 23
        margin -5px 0 1em
        +below($tablet)
            margin-top 0
    > a
        display block
        color #fff
        text-decoration none
        padding-top 12px
        padding-bottom 12px
        margin-bottom 6px
        padding-left 35px
        background $img('seta-artigo.png') no-repeat left center
        transition background .3s
        position relative
        &:after
            content ''
            width 100%
            height 1px
            position absolute
            bottom -4px
            left 0
            background #fff
        +mobile()
            padding-left 20px
        span
            flexo 11
            display block
            margin-bottom 4px
        &:hover
            background-color rgba($azul, .5)
    .pagination
        width 100%
        padding 0
        margin 5% 0 0
        list-style-type none
        text-align center
        li
            display inline-block
            color #fff
            flexo 12
            border 1px solid $azul
            margin 0 2px
            a
                display block
                color #fff
                text-decoration none
                transition background .3s
                padding 3px 8px
                &:hover
                    background lighten($azul, 10)
            span
                display block
                padding 3px 8px
                background $azul
            &:first-child
            &:last-child
                display none

.imprensa-show
    clearfix()
    color #fff
    h2
        color #fff
        flexo 23
        margin -5px 0 1em
        +below($tablet)
            margin-top 0
    h1
        width 100%
        margin 0 0 1.5em
        flexo 16 bold
    .texto
        width 55%
        float left
        flexo 14
        line-height 1.5
        +mobile()
            width 100%
            margin-bottom 5%
        p:first-child
            margin-top 0
        a
            color lighten($azul, 10)
            transition color .3s
            &:hover
                color #fff
        .galeria
            clearfix()
            margin-top 5%
            a
                display block
                float left
                margin-right 2%
                margin-bottom 2%
                width 21.75%
                img
                    width 100%
                    height auto
                    display block
    .aside
        width 36.75%
        float right
        +mobile()
            width 100%
        .arquivo
            display block
            width 100%
            flexo 14
            font-weight bold
            text-decoration none
            color #fff
            padding 14px 14px 14px 45px
            background $img('icone-pdf.png') no-repeat 14px center #000
            transition background .3s
            &:hover
                background-color $azul
        .video
            margin-top 5%
