.institucional
    clearfix()
    .texto
        width 40%
        float left
        color #fff
        flexo 14
        line-height 1.5
        &.full-width
            width 100%
            margin-bottom 0 !important
        h1
            flexo 23
            margin -5px 0 0
            +below($tablet)
                margin-top 0
        p:first-child
            margin-top 0
        p:last-child
            margin-bottom 0
        +mobile()
            width 100%
            margin-bottom 5%
    .video
        width 51.13%
        float right
        +mobile()
            width 100%
    &.politicas
        .texto
            width 53%
            h2
                flexo 15
                font-weight bold
                margin 1.6em 0 .8em
                &:first-child
                    margin-top 0
            +mobile()
                width 100%
                margin-bottom 8%
        .documentos
            width 40%
            float right
            flexo 12
            color #fff
            h2
                flexo 15
                font-weight bold
                margin 2em 0 1em
                &:first-child
                    margin-top 0
            a
                display block
                text-decoration none
                color #fff
                transition color .3s
                margin-bottom 4px
                &:hover
                    color $azul
            +mobile()
                width 100%
